* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  
}

/* Typography */
span {
color: hsl(0, 36%, 70%);
font-size: 5rem;
font-weight: 300;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

p {
  color: hsl(0, 36%, 70%);
  font-weight: 600;
  font-size: 1.3125rem;
  text-align: center;
  margin: 0;
}

.logo {
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
}

/* Layout */



.container {
    display: flex;
   flex-direction: column;
  justify-content: space-between;
  padding: 2em 0; 
max-width: 400px; 
margin: 0 auto;  
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   flex: 1; 
  height: 50vh;
}

.side-content {
  flex: 1;
  order: -1;
  height: 100%;
 
}



img {
  /* display: inline-block; */
  /* max-width: 100%; */
  /* background-repeat: no-repeat; */
  /* background: center; */
  /* background-size: cover; */
  padding: 1px 0.5em 3em; 
}

/* .container {
  max-width: 425px;
  margin: 0 auto;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
} */